.flex-navbar{
    display:flex;
    flex-direction:row;
    height:100%;
    width:100%;
    border:solid 1px black;
}

.flex-link-layout{
    display:flex;
    padding:2em;
    align-self: center;
}

.flex-link-position{
    display:flex;
    justify-content:center;
    
}

.img-logo{
    width:auto;
    height:auto;
}

.img-cart{
    display:flex;
    align-self: right;
}

.padding-10{
    padding:10px;
}

.flex-art-boxes{
    display:flex;
    height:600px;
    width:300px;
    padding:20px;
}

.headliner{
    display:flex;
    padding:10px;
}

.flex-carusell{
    height:600px;
    display:flex;
    padding:5px;

}

img { 
    max-width: 100%; 
    height: auto; 
}
