.body{
    margin: 0;
}
li,
ul,
ol{ list-style: none;
    padding-left: 0;
}
a{
        color: #00659c;
        text-decoration: none;
        cursor: pointer;
        outline: 0;
}
a:visited{
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: #0088ce;
}
.bordered{
    border: solid 1px black;
}